.grid-container {
  display: grid;
  grid-template-rows: 20% 40% 20% 20%;
  grid-template-columns: 25% 25% 25% 12.5% 12.5%; 
  height: 100vh;
}

.grid-container div:nth-child(1) { 
  background:violet; 
  grid-column-start:1; 
  grid-column-end:1; 
  grid-row-start:1; 
  grid-row-end:4; 
} 
.grid-container div:nth-child(2) { 
  background: coral; 
  grid-column-start:2; 
  grid-column-end:5;
  grid-row-start:1; 
  grid-row-end:1; 
} 
.grid-container div:nth-child(3) { 
  background: darkviolet; 
  grid-column-start:5; 
  grid-column-end:5; 
  grid-row-start:1; 
  grid-row-end:1; 
} 
.grid-container div:nth-child(4) { 
  background: green; 
  grid-column-start:2; 
  grid-column-end:2; 
  grid-row-start:2; 
  grid-row-end:2; 
}
.grid-container div:nth-child(5) { 
  background: burlywood; 
  grid-column-start:3; 
  grid-column-end:3; 
  grid-row-start:2; 
  grid-row-end:2; 
}
.grid-container div:nth-child(6) { 
  background: blue; 
  grid-column-start:4; 
  grid-column-end:6; 
  grid-row-start:2; 
  grid-row-end:4; 
} 
.grid-container div:nth-child(7) { 
  background: yellow; 
  grid-column-start:2; 
  grid-column-end:4; 
  grid-row-start:3; 
  grid-row-end:3; 
}
.grid-container div:nth-child(8) { 
  background: brown; 
  grid-column-start:1; 
  grid-column-end:3; 
  grid-row-start:4; 
  grid-row-end:4; 
}
.grid-container div:nth-child(9) { 
  background: sandybrown; 
  grid-column-start:3; 
  grid-column-end:6; 
  grid-row-start:4; 
  grid-row-end:4; 
}